@using WebAutopark.DAL.Entities

@model WebAutopark.ViewModels.Vehicle.IndexViewModel

@{
    VehicleTypes vehicleType = new VehicleTypes();
}

<tbody>
          @foreach (var vehicle in Model.Vehicles)
            {
                <tr class="table-active">
                    @{
                        var buff = Model.VehicleTypes
                                    .Select(vt => vt)
                                    .Where(vt => vt.VehicleTypeId == vehicle.VehicleTypeId)
                                    .FirstOrDefault();

                        vehicleType.Name = buff!.Name;
                        vehicleType.VehicleTypeId = buff!.VehicleTypeId;
                        vehicleType.TaxCoefficient = buff!.TaxCoefficient;
                    }
                  <td>
                    Name: @vehicleType.Name<br />
                    Tax Coefficient: @vehicleType.TaxCoefficient.ToString()
                  </td>
                  <td>@vehicle.Model</td>
                  <td>@vehicle.RegistrationNumber</td>
                  <td>@vehicle.Weight</td>
                  <td>@vehicle.Year</td>
                  <td>@vehicle.Mileage</td>
                  <td>@vehicle.Color.ToString()</td>
                  <td>@vehicle.FuelConsumption</td>
                  <td>@vehicle.Volume</td>
                  <td><a asp-controller="Vehicle" asp-action="Delete" asp-route-vehicleId="@vehicle.VehicleId">Delete</a></td>
                  <td><a asp-controller="Vehicle" asp-action="Update" asp-route-vehicleId="@vehicle.VehicleId">Update</a></td>
                  <td><a asp-controller="Vehicle" asp-action="Detail" asp-route-vehicleId="@vehicle.VehicleId">Detail</a></td>
                </tr>
            }
      </tbody>