@model IEnumerable<WebAutopark.DAL.Entities.Components>
@{
    ViewData["Title"] = "Components Overview";
}

<div class="text-center">
    <h2 class="display-6">Components List</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          @foreach (var component in Model)
            {
                <tr class="table-active">
                  <td>@component.Name</td>
                  <td><button value="@component.ComponentId" onclick="buttonHandler(@component.ComponentId)" id="btnDelete" class="btn btn-danger">Delete</button></td>
                  <td><a asp-controller="Component" asp-action="GetUpdate" asp-route-componentId="@component.ComponentId">Update</a></td>
                </tr>
            }
      </tbody>
    </table>
    <p>
        <a asp-controller="Component" asp-action="GetCreate">Create New Component</a>
    </p>
</div>

@section Scripts
{
    <script type="text/javascript">
        function buttonHandler(id) {
            $.ajax({
                url: '@Url.Action("Delete", "Component")',
		        type: 'DELETE',
                data: { componentId: id },
                success: function (xml) {
                    location.reload(true);
                }
                });
            }

    </script>
}    