@model IEnumerable<WebAutopark.DAL.Entities.VehicleTypes>
@{
    ViewData["Title"] = "Vehicle Types Overview";
}

<div class="text-center">
    <h2 class="display-6">Vehicle Types List</h2>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Tax coefficient</th>
          <th scope="col"></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
          @foreach (var vehicleType in Model)
            {
                <tr class="table-active">
                  <td>@vehicleType.Name</td>
                  <td>@vehicleType.TaxCoefficient</td>
                  <td><button value="@vehicleType.VehicleTypeId" onclick="buttonHandler(@vehicleType.VehicleTypeId)" id="btnDelete" class="btn btn-danger">Delete</button></td>
                  <td><a href="~/VehicleType/GetUpdate/?vehicleTypeId=@vehicleType.VehicleTypeId">Update</a></td>
                </tr>
            }
      </tbody>
    </table>
    <p>
        <a asp-controller="VehicleType" asp-action="GetCreate">Create New Vehicle Type</a>
    </p>

    @section Scripts
    {
        <script type="text/javascript">
            function buttonHandler(id) {
                $.ajax({
                    url: '@Url.Action("Delete", "VehicleType")',
		            type: 'DELETE',
                    data: { vehicleTypeId: id },
                    success: function (xml) {
                        location.reload(true);
                    }
                    });
                }

        </script>
    }    
</div>